<div id="main"></div>
<script id="tmpl-powerPlant" type="text/template">
    <h2><%= location %></h2>
    <p><strong>Type:</strong> <%= type %></p>
    <p><strong>Maintenance Cost:</strong> $<%= maintenanceCost %></p>
    <p><strong>PowerGenerated:</strong> <%= powerGenerated %>MW</p>
</script>
<script src="~/Content/js/lib/jquery-1.9.1.js"></script>
<script src="~/Content/js/lib/underscore-1.4.4.js"></script>
<script src="~/Content/js/lib/backbone-1.0.0.js"></script>
<script>

    var PowerPlant = Backbone.Model.extend({
        urlRoot: "/api/powerplants"
    });

    var PowerPlantView = Backbone.View.extend({
        template: _.template($("#tmpl-powerplant").html()),
        render: function() {
            this.$el.html(this.template(myPlant.toJSON()));

            return this;
        }
    });

    var AppRouter = Backbone.Router.extend({
        routes: {
            "powerplant/:id": "plant"
        },

        plant: function(id) {
            var myPlant = new PowerPlant({ id: id});

            myPlant.fetch({
                success: function() {
                    var plantHatchView = new PowerPlantView({ model: plantHatch});
                    $("#main").html(plantHatchView.render().el);
                }
            });
        }
    });

    $(function() {
        var router = new AppRouter();

        Backbone.history.start();
    })
</script>
